$pale-violet : hsl(276, 100%, 81%);
$magenta-bg : hsl(293, 100%, 63%);
$violet-bg : hsl(264, 100%, 61%);
$white : hsl(0, 0%, 100%);
$gray-bg : hsl(270, 20%, 96%);
$dark-violet : hsl(270, 7%, 64%);
$moderate-violet:hsl(276, 55%, 52%);
$desaturated-violet:hsl(271, 15%, 43%);
$h1 : hsl(271, 36%, 24%);